<header>
    <img src="assets/img/vitor.jpeg" alt="Vitor Abreu - photo" width="130px" height="130px" loading="eager">
    <h1>Vitor Abreu</h1>
</header>

<aside>
    <div class="container">
        <p>Frontend Engineer Javascript | Angular</p>
        <p>Sao Caetano do sul, Sao paulo, Brazil</p>
        <p>With over 5 years of experience developing web and mobile applications</p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download Resume
                    </a>
                </li>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icon/whatsapp.svg" alt="icon to reach out on whatsapp" width="22px" height="22px">
                <figcaption>
                    <a href="https://api.whatsapp.com/send/?phone=5511959390713&text=Hi%20I%20saw%20your%20resume%20and%20I%20want%20to%20show%20you%20an%20offer&type=phone_number&app_absent=0" target="_blank">
                        <strong>Send a message to:</strong>
                        <p>Whatsapp: +55 11 959390713</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="assets/icon/whatsapp.svg" alt="icon to reach out on whatsapp" width="22px" height="22px">
                <figcaption>
                    <a href="mailto:vitoryanfma@gmail.com" target="_blank">
                        <strong>Send an email to:</strong>
                        <p>vitoryanfma&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>